html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* 기본 폰트 설정 */
body {
  font-family: 'Arial', sans-serif; /* 기본 폰트 */
  font-size: 16px; /* 기본 폰트 사이즈 */
  color: #333; /* 기본 텍스트 색상 */
  background-color: #f4f4f4; /* 배경색 */
  line-height: 1.6; /* 줄간격 */
}
