/* 홈 섹션 기본 스타일 */

.home {
   display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 전체 화면 높이 */
    background-image:url(../image/bck.jpg);
    background-size: 70%; /* 배경 이미지가 영역을 꽉 채우도록 설정 */
  background-position: center; /* 이미지를 중앙에 위치 */
  background-repeat: no-repeat; /* 이미지 반복 없음 */
  font-weight:900;
  font-style:italic;
  background-color:#333;
  
  }
  
  /* 최대 너비 설정 */
  .home .max-width {
    max-width: 1200px;
    margin: 0 auto;
    /* text-align: center; 텍스트 중앙 정렬 */
  }
  
  /* 기본 텍스트 스타일 */
  .home .text-1,
  .home .text-2 {
    font-family: 'Montserrat', sans-serif; /* 폰트 */
    color: white; /* 폰트 색상 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    padding-left:150px;
  }
  
  /* 텍스트 1 스타일 */
  .home .text-1 {
    font-size: 30px; /* 폰트 크기 */
    font-weight: bold; /* 폰트 두께 */
    margin-bottom: 8px; /* 아래 여백 */
  }
  
  /* 텍스트 2 스타일 */
  .home .text-2 {
    font-size: 50px; /* 큰 폰트 크기 */
    font-weight: bold; /* 굵은 폰트 */
  }
  @media (max-width: 1024px) {
    .home {
        background-size: 100%; /* 배경 이미지 크기 조정 */
        padding: 0 20px; /* 좌우 패딩 추가 */
    }

    .home .text-1,
    .home .text-2 {
        padding-left: 20px; /* 좌우 패딩 조정 */
        font-size: 24px; /* 폰트 크기 조정 */
    }

    .home .text-2 {
        font-size: 36px; /* 큰 폰트 크기 조정 */
    }
}

@media (max-width: 768px) {
    .home {
        flex-direction: column; /* 세로 방향 배열 */
    }

    .home .text-1,
    .home .text-2 {
        padding-left: 0; /* 좌측 패딩 제거 */
        text-align: center; /* 텍스트 중앙 정렬 */
    }
}

@media (max-width: 480px) {
    .home .text-1 {
        font-size: 18px; /* 작은 화면에서 폰트 크기 조정 */
    }

    .home .text-2 {
        font-size: 28px; /* 큰 화면에서 폰트 크기 조정 */
    }
}